@import "variables";

.navbar-container {
  width: 30px;
  height: 20px;
  text-align: center;
  font-size: 1.4em;
  color: #fff;
  padding: 20px;
  display: flex;
  cursor: pointer;
  margin-bottom: 40px;
  z-index: 999;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;

  &.open-navbar {
    width: 550px;
    -webkit-transition: width 1.3s ease;
    -moz-transition: width 1.3s ease;
    -ms-transition: width 1.3s ease;
    -o-transition: width 1.3s ease;
    transition: width 1.3s ease;
  }
}

.navbar-toggle {
  color: #444;
  position: absolute;
  width: 30px;
  height: 25px;
  top: 18px;
  right: 20px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;

  &:before, &:after {
    content: '';
    width: 60%;
    height: 3px;
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: #444;
    -webkit-transition: all 1.3s ease;
    -moz-transition: all 1.3s ease;
    -ms-transition: all 1.3s ease;
    -o-transition: all 1.3s ease;
    transition: all 1.3s ease;
  }
  &:after {
    top: 16px;
  }

  &.close {
    right: 0;
  }

  &.close:before {
    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    -o-transform: rotate(-225deg);
    transform: rotate(-225deg);
    top: 15px;
  }

  &.close:after {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
    top: 15px;
  }
}

.navbar {
  opacity: 0;
  -webkit-transition: opacity 1.6s linear;
  -moz-transition: opacity 1.6s linear;
  -ms-transition: opacity 1.6s linear;
  -o-transition: opacity 1.6s linear;
  transition: opacity 1.6s linear;
  &.show {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 7px;
    left: 0;
    margin: 0;
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
    opacity: 1;

    -webkit-transition: opacity 1.6s linear;
    -moz-transition: opacity 1.6s linear;
    -ms-transition: opacity 1.6s linear;
    -o-transition: opacity 1.6s linear;
    transition: opacity 1.6s linear;
  }

  li {
    text-align: center;
    display: flex;
    -webkit-transition: all 1.3s ease;
    -moz-transition: all 1.3s ease;
    -ms-transition: all 1.3s ease;
    -o-transition: all 1.3s ease;
    transition: all 1.3s ease;

    &:hover {
      background-color: cadetblue;
    }

    a {
      color: $main_color;
      padding: 10px;
      text-decoration: none;
      text-transform: capitalize;
    }
  }
}

.navigation-panel {
  background-color: transparent;
  color: black;
  justify-self: center;
  align-self: center;
  cursor: pointer;

  .bars {
    position: relative;
    width: 35px;
    height: 30px;

    &:before, &:after {
      content: '';
      background: #ffecbf;
      position: absolute;
      width: 60%;
      height: 3px;
      top: 5px;
      left: 4px;
    }

    &:after {
      top: 20px;
    }

    &.open:before {
      -webkit-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      transform: rotate(225deg);
      -webkit-transition: all .6s ease;
      -moz-transition: all .6s ease;
      -ms-transition: all .6s ease;
      -o-transition: all .6s ease;
      transition: all .6s ease;
    }
  }
  .letter {
    color: #444444;
    background-color: transparent;
    padding: 10px;
    opacity: 1;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
  }
  .n {
    opacity: 0;
    position: absolute;
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
  }
  .n-hover {
    opacity: 1;
    position: absolute;
    -webkit-transform: translate(-27px, -4px);
    -moz-transform: translate(-27px, -4px);
    -ms-transform: translate(-27px, -4px);
    -o-transform: translate(-27px, -4px);
    transform: translate(-27px, -4px);
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
  }

  .v {
    @extend .n;
  }
  .v-hover {
    opacity: 1;
    position: absolute;
    -webkit-transform: translate(27px, -4px) !important;
    -moz-transform: translate(27px, -4px) !important;
    -ms-transform: translate(27px, -4px) !important;
    -o-transform: translate(27px, -4px) !important;
    transform: translate(27px, -4px) !important;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
  }

}