@import "variables";
// importing navbar

@import "navbar";
body {
  display : flex;
  background: $main_background_color;
  color: $main_color;
  flex-direction: row;
  justify-content: center;
}
.container {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightblue;
}

