!!!
!!!XML
%html
  %head
    %title New_Blog
    %link(rel="stylesheet" type="text/css" href="scss/style.css")
  %body
    .container
      %div class
      -#%ul.navbar
      -#  %li
      -#    %a(href="#home") home
      -#  %li
      -#    %a(href="#home") about
      -#  %li
      -#    %a(href="#home") contact
      -#  %li
      -#    %a(href="#home") feedback
      -#  %li
      -#    %a(href="#home") design