!!!
!!!XML
%html
  %head
    %title New_Blog
    %link(rel="stylesheet" type="text/css" href="scss/style.css")
    %link(rel="stylesheet" type="text/css" href="css/font-awesome.min.css")
  %body
    .container
      .navbar-container
        .navbar-toggle
        %ul.navbar
          %li
            %a(href="#") home
          %li
            %a(href="#") about
          %li
            %a(href="#") contact
          %li
            %a(href="#") feedback

      .navigation-panel
        .bars
          %span.letter.n N
          %span.letter.v V
    %script(src="js/jquery.min.js")
    %script(src="js/myfunctions.js")